.section-container{

    .virtual-cards{
        // border: 1px solid rgb(0, 255, 42);
        width: 600px;
        max-width: 600px;
        margin: 0 0;
        background-color: #1d1d1d;
        padding: 70px 5px;
        h1{
            text-align: center;
            color: #fff;
            display: block;
            // margin-block-end: 25px;
            font-family: milik, sans-serif;
            font-size: 36px;
            font-weight: 500;
            letter-spacing: -1.08px;
            line-height: 44px;
            width: 580.89px;
            // margin: 0 0;
            margin-bottom: 25px;
            padding: 0;
    
                span{
                    color:#6672c7;
                }
        }
            p{
                width: 550px;
                margin: 0 auto;
                text-align: center;
                font-family: Moderat, sans-serif;
                box-sizing: border-box;
                color: rgb(255,255,255);
                display: block;
                // margin-block-end: 30px;
                font-size: 18px;
                font-weight: 300;
                line-height: 28px;
                margin-bottom: 39px;
                padding: 0;
            }
            button{
                width: 195.32px;
                padding: 28px 22px;
                margin-left: 202.5px;
                margin-bottom: 65px;
                font-size: 14px;
                font-family: moderat, sans-serif;
                color: #1d1d1d;
                background-color: #fff;
                border-radius: 10px;
                align-items: center;

            }

            .cards{
                display: block;
                max-width: 600px;
                
                .first-child, .second-child, .third-child{
                    width: 565px;
                    margin: 0 auto;
                    border-radius: 15px;
                    box-sizing: border-box;
                    display: block;
                    height: 250px;
                    transition: transform 1s;
                    background-image: url(../images/box.png);
                    background-color: rgba(48, 47, 47, 0.534);
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 25px 15px;
                    box-shadow: -1px -1px 60px -1px rgba(29, 29, 29, 0.986);
                    z-index: 0;
                    margin-bottom: 50px;
                    
                    h2{
                        width: 560px;
                        color: #fff;
                        padding-left: 5px;
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                    p{
                        width: 540px;
                        margin: 0 auto;
                        color: #fff;
                        padding: 5px;
                        font-size: 15px;
                        text-align: left;
                    }
                }
            }
        }
}