 footer{
        // outline:1px solid red;
        width: 98%;
        margin-left: 1%;
        .footer-links{
            display: block;
            width: 100%;
            margin-top: -120px;

            .footer_links_desktop{
                display: none;
            }
            .footer_links_mobile{
                display: block;
            }
            .important_details{
                border-top:1px solid whitesmoke;
                border-bottom:1px solid whitesmoke;
                width: 96%;
                margin-left: 2%;
                padding: 30px 0px 30px 0px;

                ul{
                    display:none;
                    text-decoration: none;
                    
                    li{
                        padding: 10px 0px 10px 0px;
                        a{
                            color: black;
                            font-weight: 300;
                            text-decoration: none;
                            font-size: 16px;
                            font-family: moderat-light;
                            line-height:1.5;

                            &:hover{
                                color: $header-nav-line-hover-color;
                            }
                        }
                    }
                    // margin-top: 40px;
                }

                .footer_heading{
                    display: flex;
                    align-items: center;
                    position: relative;
                    width: 98%;
                    margin-left: 1%;

                    &::after{
                        content: "\f078";
                        font-family: "Font Awesome 5 Free";
                        font-size:13px;
                        font-weight:bold;
                        position: absolute;
                        left: 99%;
                    }

                    &.active::after{
                        transform: rotate(180deg);

                    }

                    &.active + ul{
                        display: block;
                    }
                }
            }

            //style to display country names vertically (block)
            .country-button{
                width: 90%;
                margin-left: 5%;
                .count-flag{
                    .trial{
                        .about-countries{
                            display: grid;
                            grid-template-columns: auto;
                        }
                    }
                }
            }
        }
        .countries_medialinks{
            display: block;
            border: none;
            margin-top: -80px;
            margin: -80px 0px -30px 10px;
            .medialinks{
                display: none;
            }
            .important_details{
                border-top:1px solid whitesmoke;
                border-bottom:1px solid whitesmoke;
                width: 98%;
                margin-left: 1%;
                display: block;
                padding: 30px 0px 30px 0px;
                .footer_heading{
                    h2{
                        color: black;
                            font-size: 18px;
                            line-height: 20px;
                            color: #1d1d1d;
                            font-family: moderat-bold;
                            font-weight: 500;
                    }
                }

                ul{
                    display:none;
                    list-style-type: none;

                    li{
                        padding: 10px 0px 10px 0px;
                        a{
                            color: black;
                            font-weight: 300;
                            text-decoration: none;
                            font-size: 16px;
                            font-family: moderat-light;
                            line-height:1.5;

                            &:hover{
                                color: $header-nav-line-hover-color;
                            }
                        }
                    }
                    // margin-top: 40px;
                }

                .footer_heading{
                    display: flex;
                    align-items: center;
                    position: relative;
                   

                    &::after{
                        content: "\f078";
                        font-family: "Font Awesome 5 Free";
                        font-size:13px;
                        font-weight:bold;
                        position: absolute;
                        right: 3px;
                    }

                    &.active::after{
                        transform: rotate(180deg);

                    }

                    &.active + ul{
                        display: block;
                    }
                }
            }
        }
        .copyright_policy{
            .policy_links{
                display: none;
            }
            p{
                width: 100%;
                margin-top: -40px;
            }
        }
    }