.global_reach{
    max-width: 90%;
    margin-left: 5%;

    .going-global{
        display: flex;
        // .global-anim{}
        .global_reach_text{
            h1{
                margin-bottom: 8%;
                font-size: 35px;
                margin-top: 150px;
                font-family: milik;
                font-weight: 500;
                line-height: 1.5;
                color: #1d1d1d;
                width: 100%;
    
                span{
                    color: #6672c7;
                }
            }
            .global_text{
    
                h3{
                    border-left: 2px solid black;
                    font-size: 20px;
                    font-family: moderat-bold;
                    padding-left: 30px;
                    padding-bottom: 5px;
    
                }
                .currencies{
                    color: #0abab0;
                }
                p{
                    padding: 5px 0px 70px 30px;
                    border-left: 0.3px dashed grey;
                    font-size: 16px;
                    font-family: moderat-light;
                    line-height: 1.5;
                }
                .list_1{
                    border-left: 0.3px dashed grey;
                    padding-left: 30px;
                    display: flex;
                    column-gap: 80px;
                
    
                    ul{
                        li{
                            color: #1d1d1d;
                            list-style: none;
                            padding-top: 20px;
                            font-size: 16px;
                            font-family: moderat-light;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }


    .create_financial_account{
    margin-top: 15%;
    background-color: #000000ed;
    border-radius: 8px;
    padding: 20px 20px;
    margin-bottom: 190px;
    width: 100%;

    h1{
        color: #fff;
        font-size:27px;
        width: 100%;
    }
    p{
        width: 100%;
        color: #fff;
        margin-top: 20px;
        font-size: 18px;
        margin-bottom: 50px;
    }
    button{
        font-size: 20px;
        color:white;
        background-color: #000000ed;
        border: none;
    }
}
}

