
.section-container{
    display: block;
    // width: 600px;
    padding: 70px 20px;
    border:  none ;

    .section-unified{
        padding: 0;
        margin: 0;
        max-width: 1092px;
        border:  none ;

        .main-heading{
            max-width: 650px;
            padding: 0;
            margin-bottom: 58px;
            line-height: 44px;
            letter-spacing: -1.08px;
            font-weight: 500;
            font-size: 36px;
            font-family: milik, sans-serif;
            border:  none ;

            span{
                color: $headingSpanOrange;
            }
        }

        .section-pay{
            display: block;
            .section-checkout{

                h1{
                    padding-left: 5px;
                    margin-bottom: 19px;
                    line-height: 22px;
                    font-weight: 600;
                    font-size: 20px;
                    font-family: moderat, sans-serif;
                    border:  none ;
                }

                p{
                    padding-left: 5px;
                    margin-bottom: 30px;
                    line-height: 28px;
                    font-weight: 300;
                    font-size: 18px;
                    font-family: $generalFont;
                    border:  none ;
                }

                button{
                    width: 121.89px;
                    height: 50px;
                    padding: 15px, 25px;
                    margin-bottom: 60px;
                    text-align: center;
                    line-height: 20px;
                    font-weight: 500;
                    font-size: 14px;
                    font-family:  $generalFont;
                    color: #fff;
                    cursor: pointer;
                    background-color: rgb(10, 14, 39);
                    border-radius: 10px;
                    border-style: none;
                }

            }
            .checkout-img{
                padding: 0;
                margin: 0;
                width: 320px;
                max-height: 550px;
                height: 550px;
                border-radius: 30px;
                box-shadow: 0 4px 20px rgb(0, 0, 0, 0.2);
            }

            .section-payment{
                border: none;
                .accept-payment, .transfer-payment{
                    margin: 80px 0;
                    border:  none;
                    h1{
                        padding-left: 5px;
                        margin-bottom: 19px;
                        line-height: 22px;
                        font-weight: 600;
                        font-size: 20px;
                        font-family:  moderat, sans-serif;
                        border: none;
                    }

                    p{
                        padding-left: 5px;
                        margin-bottom: 30px;
                        line-height: 28px;
                        letter-spacing: -1.08px;
                        font-weight: 300;
                        font-size: 18px;
                        font-family:  $generalFont;
                        border: none;
                    }

                    button{
                        display: block;
                        box-sizing: border-box;
                        font-family: Moderat, sans-serif;;
                        // @include button;
                        color: rgb(251, 78, 32);
                        height: 16px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 16px;
                        border: none;
                        background-color: $generalFontColor;
                        cursor: pointer;

                        img{
                            height: 23px;
                            position: relative;
                            top: 6px;
                            transition: transform 1s;
                        }
                    }
                }
            }
        }
    }
}