.global_reach{
    max-width: 80%;
    margin: 0 auto;

    .global_reach_text{
        h1{
            margin-bottom: 100px;
            font-size: 80px;
            margin-top: 150px;
            font-family: milik;
            font-weight: 500;
            line-height: 86px;
            color: #1d1d1d;

            span{
                color: #6672c7;
            }
        }
    }
    .going-global{
        display: flex;
        .global-anim{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
            margin-top: -5%;
            position: absolute;
            right: 1px;
            height: 700px;
            width: 700px;
            background: #262c55 url('/images/globe.png') 0 0 repeat;
            border-radius: 50%;
            background-size: 1600px;
            animation: rotate 12s linear infinite;
            animation-direction: reverse;
            transform: scale(1);
            
        span{
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 40px;
            top: 48%;
            left: 25%;
            background-color: #eb7da7;
            animation-name: sparkle;
            // animation-delay: 12s;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        .spark2{
            top: 70%;
            left: 32%;
            animation-delay: .5s;
            background-color: #00abab;
        }
        .spark3{
            top: 50%;
            left: 44%;
            animation-delay: .4s;
            background-color: #6672c7;
        }
        .spark4{
            top: 18%;
            left: 17%;
            animation-delay: 1s;
            background-color: #006aff;
        }
        .spark5{
            top: 60%;
            left: 85%;
            animation-delay: 0.3s;
            background-color: green;
        }
        .spark6{
            top: 20%;
            left: 60%;
            animation-delay: .5s;
            background-color: #eb5757;
        }
        .spark7{
            top: 26%;
            left: 27%;
            animation-delay: .4s;
            background-color: #ffa07a;
        }
        .spark8{
            top: 26%;
            left: 54%;
            animation-delay: .4s;
            background-color: #ff7ade;
        }
    }

    @keyframes sparkle{
        100%{
            transform: scale(3);
            opacity: 0.7;
        }
    }
    @keyframes rotate{
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 1300px 0;
        }
        }

        .going-global-right{
            .global_text{
    
                h3{
                    border-left: 2px solid black;
                    font-size: 20px;
                    font-family: moderat-bold;
                    padding-left: 30px;
                    padding-bottom: 5px;
    
                }
                .currencies{
                    color: #0abab0;
                }
                p{
                    padding: 5px 0px 40px 30px;
                    border-left: 0.3px dashed grey;
                    font-size: 16px;
                    font-family: moderat-light;
                    line-height: 1.5;
                }
                .list_1{
                    border-left: 0.3px dashed grey;
                    padding-left: 30px;
                    display: flex;
                    column-gap: 80px;
                
    
                    ul{
                        li{
                            color: #1d1d1d;
                            list-style: none;
                            padding-top: 20px;
                            font-size: 16px;
                            font-family: moderat-light;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        }
    }


    .create_financial_account{
    margin-top: 18%;
    background-color: #000000e3;
    border-radius: 20px;
    padding: 50px 150px;
    margin-bottom: 200px;
    width: 100%;
    box-shadow: 2px 20px 40px rgba(128, 128, 128, 0.849);

    h1{
        color: #fff;
        font-size: 50px;
        padding-top: 30px;
        font-family: milik;
    }
    p{
        color: #fff;
        margin-top: 30px;
        font-weight: 300;
        font-family: moderat-light;
        font-size: 22px;
        margin-bottom: 100px;
        line-height: 1.5;
        width: 90%;
    }
    div{
        font-size: 16px;
        color:white;
        border: none;
        font-weight:500;
        font-family: moderat-bold;
        padding-bottom: 30px;
    }
}


