.trustees{
    padding: 60px 20px;

    .million{
        padding-left: 128.5px;
        font-family: moderat-regular;
        font-size: 22px;
        margin: 0px 0px 20px;
        color: #1d1d1d;
    }
    .partner-icon{
        padding-left: 128.5px;

        img{
            padding:20px 40px 20px 0px;
        }
    }
}